python-docx 
PyPDF2 
pandas 
openpyxl
tiktoken
faiss-cpu
torch
transformers
datasets
einops
ctransformers
rouge
rouge-score
tqdm
langchain
langchain-community
sentence_transformers
sentencepiece 
accelerate
chromadb 
pypdf 
python-multipart 
aiofiles